@import "author";

#main {
  @include spacing;
}
h1 {
  text-align: left !important;
}
form {
  div {
    margin: 3% 0px;
  }
  label {
    font-weight: bold;
    float: left;
  }
  input {
    width: $w-1;
    padding: 8px 0px;
  }
  button {
    @include button;
    background-color: $info;
    float: left;
  }
}
